VITE_META_TOKEN=seu_token_aqui
VITE_META_AD_ACCOUNT_ID=seu_ad_account_id_aqui

_________________________________________________________
Por que VITE_ no começo?

O Vite só expõe variáveis de ambiente para o código React
se elas começarem com VITE_. É uma proteção para evitar
que variáveis sensativas do sistema operacional vazem
acidentalmente para o browser.